<a href="https://colab.research.google.com/github/MineGumus/Python/blob/main/FirstPhyton.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
products = ["Pride and Prejudice", "To Kill a Mockingbird", "The Great Gatsby", 
"One Hundred Years of Solitude", "Pride and Prejudice", "In Cold Blood", "Wide Sargasso Sea",
"One Hundred Years of Solitude", "Brave New World",  "The Great Gatsby", "Brave New World",
"I Capture The Castle", "Brave New World", "The Great Gatsby", "The Great Gatsby",
"One Hundred Years of Solitude", "Pride and Prejudice"]
books = {}
for i in products:
  if i in books:
    books[i]= books[i] + 1
  else:
    books[i]= 1
for i in books:
  if books[i] == 1:
    print(i)

To Kill a Mockingbird
In Cold Blood
Wide Sargasso Sea
I Capture The Castle

In [ ]:
string = input("Please, enter a string: ").lower()
vowel = 0
for i in string:
  if i == "a" or i == "e" or i == "i" or i == "o" or i == "u":
    vowel = vowel+1
  else: 
    vowel = 0
  if vowel == 2:
    break
if vowel == 0:
  print("Negative")
else:
  print("Positive")

Please, enter a string: loops
Positive

In [ ]:
import random
import string
full_name = input("Please, enter your full name without space: ").lower()
num = string.digits
num2 = random.sample(num,4)
letters = random.sample(full_name,3)
all = letters + num2
password = ''.join(all)
print(password)

Please, enter your full name without space: MarcSteve
crs2714

In [ ]:
[1,2,3]*3

[1, 2, 3, 1, 2, 3, 1, 2, 3]

In [ ]:
num = list(reversed(range(10,0,-1)))
print(num)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
num1 = int(input("Please, enter the first number: "))
num2 = int(input("Please, enter the second number: "))
num3 = int(input("Please, enter the third number: "))
num4 = int(input("Please, enter the forth number: "))
num5 = int(input("Please, enter the fifth number: "))
all_num = [num1, num2, num3, num4, num5]
num_max = num1
for i in all_num:
  if i > num_max:
    num_max = i
print(num_max)

Please, enter the first number: 34
Please, enter the second number: 89
Please, enter the third number: 123
Please, enter the forth number: 456
Please, enter the fifth number: 23
456

In [ ]:
# calculating user input (5 inputs) without using max()function
count = 0
all_num = []
while count < 5:
  num = int(input("Please, enter the number: "))
  all_num.append(num)
  count = count +1
num_max = 0
for i in all_num:
  if i > num_max:
    num_max = i
print(num_max)

Please, enter the number: 25
Please, enter the number: 30
Please, enter the number: 2
Please, enter the number: 1
Please, enter the number: 100
100

In [ ]:
count=0
array=[]
while count < 5:
  number= int(input('Please enter the number: '))
  array.append(number)
  count = count +1
def findLargestNum(nums):
  largest = nums[0]
  for i in nums:
    if i > largest:
      largest = i
  return largest
print(findLargestNum(array))

Please enter the number: 3
Please enter the number: 6
Please enter the number: 67
Please enter the number: 34
Please enter the number: 23
67

In [ ]:
def my_min(*var):
  
  print(my_min(3,8,-9,0,12,1.2))

In [ ]:
import csv
with open("fruits.csv",'r', newline = '', encoding = "utf-8") as file:
    csv_rows = csv.reader(file, delimiter = ",")
    
    for row in csv_rows:
        print(row)

In [ ]:
f = open("fishes.py", "r")
ls1 = ["Dolphin", "Whale","Sharks", "Rays","Tuna", "Squid", "Crabs", "Shrimps"]
for line in f:
  for i in ls1:
    if i in line:
      print(i, "is in!")
# else:
   #   print(i, "is not in!")
     
f.close()

Dolphin is in!
Whale is in!
Sharks is in!
Rays is in!
Tuna is in!
Squid is in!

In [ ]:
fruits = ['Banana', 'Orange', 'Apple', 'Strawberry', 'Cherry']
with open("fruits.txt","w") as new_file:
  for i in fruits:
    new_file.write(i + "\n")
with open("fruits.txt","r") as new_file:
    print(new_file.read())
with open("fruits.txt","r") as new_file:
  fruits2 = new_file.readlines()
fruits
with open("fruits2.txt", "w", encoding = "utf-8") as ff :
  ff.writelines(fruits2)
with open("fruits2.txt", "r", encoding = "utf-8") as ff :
  print(ff.read())

Banana
Orange
Apple
Strawberry
Cherry

Banana
Orange
Apple
Strawberry
Cherry

In [ ]:
with open("mine2.txt", "w") as file:
  file.write("This is my first file.")
with open("mine2.txt", "r") as file:
  print(file.read())

This is my first file.

In [ ]:
!pwd

/content

In [ ]:
rumi = open("fishes.py", "r")
print(rumi.readline())
print(rumi.readlines())

Orca is a kind of Dolphin.

['Blue Whale is the largest animal known on earth.\n', 'Sharks are the sister group to the Rays (batoids).\n', 'The Tuna Fish can weigh up to 260 kg.\n', 'Squid and Octopus are in the same class.']

In [ ]:
rumi = open("fishes.py", "r")
print(rumi.readlines()[2])
rumi.seek(0)
print(rumi.read())
rumi.seek(0)
print(rumi.readlines()[1])
rumi.close()

Sharks are the sister group to the Rays (batoids).

Orca is a kind of Dolphin.
Blue Whale is the largest animal known on earth.
Sharks are the sister group to the Rays (batoids).
The Tuna Fish can weigh up to 260 kg.
Squid and Octopus are in the same class.
Blue Whale is the largest animal known on earth.

In [ ]:
rumi = "Orca is a kind of Dolphin. Blue Whale is the largest animal known on earth. Sharks are the sister group to the Rays (batoids). The Tuna Fish can weigh up to 260 kg. Squid and Octopus are in the same class."
print(len(rumi))

205

In [ ]:
file = open('mine.txt', 'r')
print(file.read(35))
print(file.read(13))
print(file.tell())
file.seek(15)
print(file.read(21))
file.close()

I want to sing
Like the birds sing,

Not worrying
48
Like the birds sing,

In [ ]:
f=lambda x:bool(x%2)
print(f(20), f(21))

False True

In [ ]:
num = 2013
reversed_num = 0
while num != 0:
 digit = num % 10
 reversed_num = reversed_num * 10 + digit
 num //= 10
print(reversed_num)

3102

In [ ]:
count = 0
my_string = "Clarusway"
my_char = "a"
for i in my_string:
 if i == my_char:
  count += 1
print(count)

2

In [ ]:
def foo(fname, val):
 print(fname(val))
foo(max, [1, 2, 3])
foo(min, [1, 2, 3])

3
1

In [ ]:
def san(x):
 print(x+1)
x=-2
x=4
san(12)

13

In [ ]:
rumi = open('/content/sample_data/rumi.txt', 'r')
print(rumi.read(36))
# rumi.seek(0)
rumi.tell()
rumi.close()
# rumi.read() # acik ollp olmadigini anlamak icin kullaniyoruz.

I want to sing
Like the birds sing,

In [ ]:
f = open('/content/sample_data/text.py', 'r')
fr = f.read(25)
# print(type(f))
print(fr)
print("*********")
print(f.seek(0)) # kurserin ilk okumayi yaptiktan sonra tekrar nereye donmesi gerektigini gosteriyor.
print(f.tell())
f.close()

Orca is a kind of Dolphin
*********
0
0

In [ ]:
pwd

'/content'

In [ ]:
def front_back(word):
  if word > word[0]:
    word = word[-1] + word[1:-1] + word[0]
    return word
  else:
    return word
print(front_back("ayhan"))

nyhaa

In [ ]:
veri = ["a", "b", True, (False, 1), {"1" : 2}, [1,2], {"2" : "two"}, {2, "3"}, "c", 23, 0]
dict1 = {}
for i in veri:
  if type(i).__name__ in dict1:
    dict1[type(i).__name__] += 1
  else:
    dict1[type(i).__name__] = 1
print(dict1)

{'str': 3, 'bool': 1, 'tuple': 1, 'dict': 2, 'list': 1, 'set': 1, 'int': 2}

In [ ]:
fruits = ["banana", "mango", "pear", "apple", "kiwi", "grape"]
right = 3
while right > 0 :
  print(f"You have {right} rights.")
  try :
    sen = int(input("write a index number: "))
    print("My favorite fruit is {}".format(fruits[sen]))
  except IndexError :
    right -= 1
    print("Please, enter valid index number.")
    # print("You have ", right,"rights left.")
  except ValueError:
    right -= 1
    print("Please, enter valid value type.")
    # print("You have ", right,"rights left.")
  else:
    print("Congratulations, you have entered valid number.")
    break
  finally:
    print("My fruits are always fresh.")

You have 3 rights.
write a index number: 5
My favorite fruit is grape
Congratulations, you have entered valid number.
My fruits are always fresh.

In [ ]:
sen = input("Write a sentence: ")
dic = {}
for i in sen:
  if i in dic:
    dic[i] = dic[i] + 1
  else:
    dic[i] = 1
print(dic)
print

Write a sentence: hhhggytvvccxz ./''
{'h': 3, 'g': 2, 'y': 1, 't': 1, 'v': 2, 'c': 2, 'x': 1, 'z': 1, ' ': 1, '.': 1, '/': 1, "'": 2}

In [ ]:
def function1(var1=5, var2=7):
 var2=9
 var1=3
 print (var1, " ", var2)
function1(10,12)

3   9

In [ ]:
x = 50
def func(x):
  print('x is', x)
  x = 2
  print('Changed local x to', x)
func(x)
print('x is now', x)

x is 50
Changed local x to 2
x is now 50

In [ ]:
def printMax(a, b):
 if a > b:
  print(a, 'is maximum')
 elif a == b:
  print(a, 'is equal to', b)
 else:
  print(b, 'is maximum')
printMax(3, 4)

4 is maximum

In [ ]:
calculator = {"+": (lambda x, y: x + y),
              "-": (lambda x, y: x - y),
              "*": (lambda x, y: x * y),
              "/": (lambda x, y: x / y),
             }
calculator["+"](2, 3)

5

In [ ]:
calculator["+"](2, 3)

5

In [ ]:
for num in range(101):
  if num % 3 == 0 and num % 5 == 0:
    print("FizzBuzz")
  elif num % 3 == 0:
    print("Fizz")
  elif num % 5 == 0:
    print("Buzz")
  else:
    print(num)

FizzBuzz
1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [ ]:
def palindrome(x) :
  y = x
  punc = '''!"#$%&'()*+, -./:;<=>?@[\]^_`{|}~'''
  for i in punc:
    x = x.replace(i, "")
  if x == x[::-1]:
    print("{} is a palindrome.".format(y))
  else:
    print("{} is NOT a palindrome.".format(y))
var = input("Write a sentence: ")
palindrome(var)

Write a sentence: ey edip adana'da, pide ye!
ey edip adana'da, pide ye!
eyedipadanadapideye
ey edip adana'da, pide ye! is a palindrome.

In [ ]:
!pip3 --version

pip 21.1.3 from /usr/local/lib/python3.7/dist-packages/pip (python 3.7)

In [ ]:
!python3-V

/bin/bash: python3-V: command not found

In [ ]:
while True:
    try: 
      no_one = int(input("The first number please : "))
      no_two = int(input("The second number please : "))
      division = no_one / no_two
      print("The result of the division is : ", division)
      break
    except:
      print("try again")

The first number please : 5
The second number please : 1.2
try again
The first number please : 4
The second number please : 3
The result of the division is :  1.3333333333333333

In [ ]:
num = 5
print(5)

5

In [ ]:
print(num)
num = [1,2,3]

[1, 2, 3]

In [ ]:
def recur_factorial(n):  
   if n == 1:  
       return n  
   else:  
       return n*recur_factorial(n-1)  
# take input from the user  
num = int(input("Enter a number: "))  
# check is the number is negative  
if num < 0:  
   print("Sorry, factorial does not exist for negative numbers")  
elif num == 0:  
   print("The factorial of 0 is 1")  
else:  
   print("The factorial of",num,"is",recur_factorial(num))

Enter a number: 4
The factorial of 4 is 24

In [ ]:
import math
math.factorial(-3)

ValueError: ignored

In [ ]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two
        print("The result of the division is : ", division)
        break
    except Exception as e:
        print("Something went wrong...Try again.")
        print("Probably it is because of '{}' error".format(e))
        break

In [ ]:
while True:
    no_one = int(input("The first number please : "))
    no_two = int(input("The second number please : "))
    try:
        division = no_one / no_two  # normal part of the program
    except ZeroDivisionError:
        print("You can't divide by zero! Try again.")  # executes when division by zero
    else:
        print("The result of the division is : ", division)  # executes if there is no exception
    finally:
        print("Thanks for using our mini divison calculator! Come again!")
        break  # exits the while loop

In [ ]:
def missing_char(word,n):
  output = ""
  for i in range(0, len(word)):
    if i != n:
      output += word[i]
  return output
print(missing_char("kitchen", 2))

kichen

In [ ]:
def not_string(word):
  if word.strip()[0:4] == "not ":
    return word
  else:
    return "not " + word
print(not_string("not x"))

not x

In [ ]:
iterable = [1, 2, 3, 4, 5]
map(lambda x:x**2, iterable)
result = map(lambda x:x**2, iterable)
print(type(result))  # it's a map type

print(list(result))  # we've converted it to list type to print

print(map(lambda x:x**2, iterable))  # you can print directly

<class 'map'>
[1, 4, 9, 16, 25]
<map object at 0x7f695bdc24d0>

In [ ]:
k = [1, 2, 3 ,4]
print(list(reversed(k)))

[4, 3, 2, 1]

In [ ]:
x = 'abcd'
for i in range(len(x)):
 x[i].upper()
print (x)

abcd

In [ ]:
i = 5
while True:
  if i%0xe == 0:
    break
  print(i)
  i += 1

5
6
7
8
9
10
11
12
13

In [ ]:
fruits = {'Apples': 5, 'Oranges': 3, 'Bananas': 4}
fruit_names = [x for x in fruits.keys()]
print(fruit_names)

['Apples', 'Oranges', 'Bananas']

In [ ]:
!pip list # libraries at colab

In [ ]:
pip install numpy

Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.19.5)

In [ ]:
pip --version

pip 21.1.3 from /usr/local/lib/python3.7/dist-packages/pip (python 3.7)

In [ ]:
from random import choice
paths = ["data science", "AWS/DevOps", "Full stack", "Cyber Security"]
print(choice(paths))

AWS/DevOps

In [ ]:
from random import choice
city = ["stockholm", "istanbul", "seul", "cape town"]
print(choice(city))

seul

In [ ]:
print((632 - 571) * 365 + 15)

22280

In [ ]:
import datetime
print(datetime.datetime.now())

2021-12-02 19:22:59.743183

In [ ]:
import datetime
print(datetime.date.today())

2021-12-02

In [ ]:
from string import punctuation, digits
punctuation
digits

'0123456789'

In [ ]:
from math import pi, factorial, log10
pi
factorial(4)
log10(1000)

3.0

In [ ]:
def outer():
    x = "previous"
    
    def inner():
      
      x = "later"
      print("inner:", x)
    
    inner()
    print("outer:", x)

print(outer())

inner: later
outer: previous
None

In [ ]:
x = 'My name is Richard'
def my_function_1(): 
    x = 'My name is John'
print(x)

My name is Richard

In [ ]:
city = "I love Paris!"

def my_function(): 
    city = "I love"
    print(city)
my_function()

I love

In [ ]:
vowel_list = ['a', 'e', 'i', 'o', 'u']
first_ten = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
vowels = filter(lambda x : x in vowel_list, first_ten)
print(list(vowels))

['a', 'e', 'i']

In [ ]:
words = ["apple", "swim", "clock", "me", "kiwi", "banana"]
#  list1 = filter(lambda x : len(x) < 5, words)
#   print(*list(list1), sep="\n")
for x in filter(lambda x : len(x) < 5, words):
  print(x)

swim
me
kiwi

In [ ]:
words1 = ["you", "much", "hard"]
words2 = ["I", "you", "he"]
words3 = ["love", "ate", "works"]
#  func = lambda x, y, z : x + " " + y + " " + z
var = map(lambda x, y, z : x + " " + y + " " + z, words2, words3, words1)
print(*var, sep="\n")

I love you
you ate much
he works hard

In [ ]:
list1 = [9, 6, 7, 4]
list2 = [3, 6, 5, 8]
list3 = lambda x, y : (x + y) / 2
print(list(map(list3, list1, list2)))

[6.0, 6.0, 6.0, 6.0]

In [ ]:
list1 = [1, 2, 3, 4]
for var in list1:
  print(var, ":", (lambda x : "odd" if x % 2 != 0 else "even")(var))

1 : odd
2 : even
3 : odd
4 : even

In [ ]:
(lambda a, b : (a + b) / 2)(3, 5)

4.0

In [ ]:
(lambda x : x[::-1])("ali")

'ila'

In [ ]:
def parrot_trouble(talking, hour):
  if talking == True and hour >= 21 or hour <= 6 :
    return True
  else:
    return False
print(parrot_trouble(False, 22))

False

In [ ]:
def sum_double(x, y):
  if x != y:
    return x + y
  else:
    return 2 * (x + y)
sum_double(4, 5)

9

In [ ]:
num = int(input("Enter a number: "))
prime_num_list = []
for var in range(2, num):
  prime_num = True
  for i in range(2,var) :
    if var % i == 0 :
      prime_num = False
      break
  if prime_num:
    prime_num_list.append(var)
print(prime_num_list)

Enter a number: 89
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83]

In [ ]:
fibonacci_num = []
previous = 0
now = 1
for i in range(10) :
  fibonacci_num.append(now)
  next = previous + now
  previous = now
  now = next
print(fibonacci_num)

[1, 1, 2, 3, 5, 8, 13, 21, 34, 55]

In [ ]:
num = int(input("Enter a number: "))
prime_num = True
for i in range(2,num) :
  if num % i == 0 :
    prime_num = False
    break
if prime_num:
  print(num, "is a prime number.")
else:
  print(num, "is not a prime number.")

Enter a number: 2
2 is a prime number.

In [ ]:
def slicer(*args):
  even = []
  odd = []
  for i in args:
    if i %2 == 0:
      even.append(i)
    else:
      odd.append(i)
  print("even number:", even)
  print("odd number:", odd)
slicer(1, 2, 3, 4, 5, 6, 7, 8, 9)
slicer(*range(20)) # asterisk is unpacking the range

even number: [2, 4, 6, 8]
odd number: [1, 3, 5, 7, 9]
even number: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
odd number: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [ ]:
num = input("Please enter a positive number: ")
if not num.strip().isdigit():
    print("It is an invalid entry. Don't use non-numeric, float, or negative values!")
elif int(num) >= 0 :
  num2 = 0
  for i in num:
    num2 += int(i) ** len(num)
  if num2 == int(num) :
    print("{} is an Armstrong number.".format(num))
  else:
    print("{} is not an Armstrong number.".format(num))
else:
  print("It is an invalid entry. Don't use non-numeric, float, or negative values!")

Please enter a positive number: 2345.8
It is an invalid entry. Don't use non-numeric, float, or negative values!

In [ ]:
def parrot(voltage, state='a stiff', action='voom', type='Norwegian Blue'):
    print("-- This parrot wouldn't", action, end=' ')
    print("if you put", voltage, "volts through it.")
    print("-- Lovely plumage, the", type)
    print("-- It's", state, "!")
#parrot(1000)
#parrot(voltage=1000000, action='VOOOOOM') 
print(parrot(voltage = 5.0))

-- This parrot wouldn't voom if you put 5.0 volts through it.
-- Lovely plumage, the Norwegian Blue
-- It's a stiff !
None

In [ ]:
def my_sentence(a = "I", b = 2):
  print(a, "have", b, "kids.")
my_sentence()
my_sentence("you", 4)
my_sentence(a = "we", b = "kind")

I have 2 kids.
you have 4 kids.
we have kind kids.

In [ ]:
def sentence(par1, par2, par3):
    print(par2, par3, par1)
sentence(par1 = "you", par3 = "love", par2 = "i")

i love you

In [ ]:
a = "i"
b = "love"
c = "you"
def sentence(par1, par2, par3):
    print(par2, par3, par1)
sentence(c, a, b)

i love you

In [ ]:
def my_initial(name, surname):
    name = name[0:1]
    surname = surname[0:1]
    return name.upper() + surname.upper()
print(my_initial("mine", "gumus"))

MG

In [ ]:
num = input("Please enter a positive number: ")
num1 = set(num)
if not num.strip().isdigit():
    print("It is an invalid entry. Don't use non-numeric, float, or negative values!")
elif int(num) >= 0 :
  num2 = 0
  for i in num1:
    num2 += int(i) ** len(num1)
  if num2 == int(num) :
    print("{} is an Armstrong number.".format(num))
  else:
    print("{} is not an Armstrong number.".format(num))
else:
  print("It is an invalid entry. Don't use non-numeric, float, or negative values!")

Please enter a positive number: one
It is an invalid entry. Don't use non-numeric, float, or negative values!

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [ ]:
z=set('abc')
z.add('san')
z.update(set(['p', 'q']))
print(z)

{'b', 'c', 'san', 'p', 'q', 'a'}

In [ ]:
a={}
a['a']=1
a['b']=[2,3,4]
a[4]="mine"
dict[0]

TypeError: ignored

In [ ]:
d = {"john":40, "peter":45}
print(list(d.keys()))

['john', 'peter']

In [ ]:
d = {"john":40, "peter":45}
d["john"]

40

In [ ]:
for x in set('mine'):
    print(x*2)

nn
mm
ii
ee

In [ ]:
def absulate_value(a) :
  if a >= 0:
   return a
  else:
   return a * -1
absulate_value(-5)

5

In [ ]:
word=input("What word would you like to try? ")
check=input("Would you like to check out the punctuations? ").lower()
punc="?/>.<,:;}]{[|\'+=_-)(*&^%$!\""
check2=input("Would you like to try any other words than this one? ").lower()
reverse = ""
if check == "yes":
   for i in word:
      reverse += i
      if word == reverse:
         print("yes")
      else:
         print("no")
else check != "no"

In [ ]:
word=input("What word would you like to try? ")
check=input("Would you like to check out the punctuations? ").lower()
punc="?/>.<,:;}]{[|\'+=_-)(*&^%$!\""
check2=input("Would you like to try any other words than this one? ").lower()
without=""
word1=word.lower()

if check=="no":
    w = ""
    for i in word:
      w += i 
      if word == w:
         print("Yes")
      elif word != w:
         print("No")
elif check=="yes":
    for i in word1:
      if i not in punc:
        without += i
        w = ""
        for i in without:
          w += i 
          if without == w:
             print("Yes")
          elif without != w :
             print("No")

What word would you like to try? radar
Would you like to check out the punctuations? no
Would you like to try any other words than this one? yes
No
No
No
No
Yes

In [ ]:
[0, 1, 4, 9, 16, 25]
generator = (i ** 2 for i in range(6))
print(* generator)

0 1 4 9 16 25

In [ ]:
def my_function(a, b) :
  area = a * b
  return area
print(my_function(3, 4))

12

In [ ]:
def calculator(a, b, operator):
  if operator == "+" :
    print(a + b)
  elif operator == "-" :
    print(a - b)
  elif operator == "*" :
    print(a * b)
  elif operator == "/" :
    print(a / b)
  else: 
    print("Enter valid arguments")

In [ ]:
def add(a, b):
  print(a + b)
add(1, 6)

7

In [ ]:
print(round(3.2234578, 4))

3.2235

In [ ]:
list1 = [1, {}, 0, "b"]
print(list(filter(False, list1)))

TypeError: ignored

In [ ]:
even = list(filter(lambda x: x % 2 ==0, [*range(10)]))
print(even, type(even))

[0, 2, 4, 6, 8] <class 'list'>

In [ ]:
names = ["susan", "tom", "False"]
mood = ["happy", "sad", 0]
empty = {}

print(all(names), all(mood), all(empty), sep = "\n")

True
False
True

Ternary if condition structure :

In [ ]:
# execute-body1 if condition else execute-body2
condition = False
1 if condition else 0

0

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
[i ** 2 for i in my_list if i % 2]

[1, 9, 25]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
[i ** 2 for i in my_list if i % 2 == 0]

[4, 16, 36]

In [ ]:
my_list = [1, 2, 3, 4, 5, 6]
new_list = []
for i in my_list:
  if i % 2 :
    new_list.append(i**2)
print(new_list)

[1, 9, 25]

In [ ]:
num = []
for i in range(5):
    num.append(i)
num

[0, 1, 2, 3, 4]

In [ ]:
# [Expression/ body for i in range(5)]
[i for i in range(5)]

[0, 1, 2, 3, 4]

In [ ]:
[i**2 for i in range(1,6)]

[1, 4, 9, 16, 25]

In [ ]:
names = ["susan", "tom", "edward"]
mood = ["happy", "sad"]
for i in names:
  for ii in mood:
    print(i, "is", ii)

susan is happy
susan is sad
tom is happy
tom is sad
edward is happy
edward is sad

In [ ]:
def my_function(width, height):
     return width*height/2
print(my_function(3, 4))

6.0

In [ ]:
name = input("Enter your first name: ").title()
name1 = "Mine"
if name1 == name:
  print("Hello Mine! The password is: O34$")
else:
  print("Hello {}! See you later.".format(name))

Enter your first name: gokjhan
Hello Gokjhan! See you later.

In [ ]:
num = ("1", "2", "3", "4", "5")
for i in num:
  print(i + "-", end = "")
print("\b")

1-2-3-4-5-

In [ ]:
names = ["Ahmed", "Aisha", "Adam", "Joseph", "Gabrial"]
for name in names:
  print("Hello", name +"!")

Hello Ahmed!
Hello Aisha!
Hello Adam!
Hello Joseph!
Hello Gabrial!

In [ ]:
import random
answer = random.randint(0,100)
question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))
    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

Let's play the guessing game!
What number am I thinking of?  120
Little lower
What number am I thinking of?  100
Little lower
What number am I thinking of?  70
Little lower
What number am I thinking of?  50
Little lower
What number am I thinking of?  30
Little higher
What number am I thinking of?  40
Little lower
What number am I thinking of?  35
Little higher
What number am I thinking of?  37
Little lower
What number am I thinking of?  36
Are you a MINDREADER!!!

In [ ]:
age = input("Write your age: ")
age.isdigit()
print(age.isdigit())

Write your age: 34
True

In [ ]:
L1 = []
L1.append([1, [2, 3], 4])
L1.extend([7, 8, 9])
print(L1[0][1][1] + L1[2])

11

In [ ]:
a=[1,2,3,4]
b=a
a.append(5)
print(b)

[1, 2, 3, 4, 5]

In [ ]:
a=[1,2,3,4]
b=a.copy()
a.append(5)
print(b)

[1, 2, 3, 4]

In [ ]:
a = float(input("Pls enter 1st number: "))
b = float(input("Pls enter 2nd number: "))
c = float(input("Pls enter 3rd number: "))
if a >= b and a >= c:
  print(f"Largest number is {a}")
elif c >= b:
  print(f"Largest number is {c}")
else: 
  print(f"Largest number is {b}")

Pls enter 1st number: 3
Pls enter 2nd number: 7
Pls enter 3rd number: 1
Largest number is 7.0

In [ ]:
num1 = float(input("enter a number: "))
num2 = float(input("enter a number: "))
num3 = float(input("enter a number: "))
if (num1 >= num2) and (num1>= num3):
  bigger = num1
elif (num2 >= num1) and (num2>= num3):
  bigger = num2
else:
  bigger = num3
print(bigger)

enter a number: 5
enter a number: 8
enter a number: 1
8.0

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
i = 0
output = []
for fruit in fruits:
 temp_qty = quantities[i]
 temp_price = prices[i]
 output.append((fruit, temp_qty, temp_price))
 i += 1
print(output)

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [ ]:
print(list("1,2,3"))

['1', ',', '2', ',', '3']

In [ ]:
fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
groceries = zip(fruits, quantities, prices)
print(list(groceries))

[('Apples', 5, 1.5), ('Oranges', 3, 2.25), ('Bananas', 4, 0.89)]

In [ ]:

fruits = ['Apples', 'Oranges', 'Bananas']
quantities = [5, 3, 4]
prices = [1.50, 2.25, 0.89]
zipped = zip(fruits, quantities, prices)
print(*list(zipped), sep = ",\n")

('Apples', 5, 1.5),
('Oranges', 3, 2.25),
('Bananas', 4, 0.89)

In [ ]:
college_years = ['Freshman', 'Sophomore', 'Junior', 'Senior']
print(list(enumerate(college_years, 2019)))

[(2019, 'Freshman'), (2020, 'Sophomore'), (2021, 'Junior'), (2022, 'Senior')]

In [ ]:
num = int(input("write a number: "))
if num >0:
  print("Number is positive")
else:
  print("Number is negative")

write a number: -12
Number is negative

In [ ]:
set1 = ("TWELVE PLUS ONE")
set2 = ("ELEVEN PLUS TWO")
if set1 == set2:
  print("We are the same!")

In [ ]:
num = [12, "ali", 6.5]
del num[1]
print(num)

[12, 6.5]

In [ ]:
sample_list = [{"section":5, "topic":2}, 'clarusway', [1, 4], 2020, 3.14, 1+618j, False, (10, 20)]
for i in sample_list:
  print("The type of", i, "is", type(i))

The type of {'section': 5, 'topic': 2} is <class 'dict'>
The type of clarusway is <class 'str'>
The type of [1, 4] is <class 'list'>
The type of 2020 is <class 'int'>
The type of 3.14 is <class 'float'>
The type of (1+618j) is <class 'complex'>
The type of False is <class 'bool'>
The type of (10, 20) is <class 'tuple'>

In [ ]:
num1 = int(input("write a number: "))
num2 = int(input("write a number: "))
if num1 != num2:
  if num1 > num2:
    print(f"The larger number is {num1}.")
  else:
    print(f"The larger number is {num2}.")
else:
  print("Numbers are equal.")

write a number: 2
write a number: 4
The larger number is 4.

In [ ]:
num = int(input("write a number: "))
if num % 2 == 0:
  print("number is even")
else:
  print("number is odd")

write a number: 33
number is odd

In [ ]:
print("You entered", input("enter yes or no:").title().strip() == "Yes")

enter yes or no:no
You entered False

In [ ]:
convert = input("enter yes or no:").title().strip() == "Yes"
print("You entered", convert)

enter yes or no:yes
You entered True

In [ ]:
yes = True
no = False
word = input("write yes or no: ").lower()
if word == "yes":
  print("You entered true")
else:
  print("You entered False")

write yes or no: no
You entered False

In [ ]:
set1 = ("TWELVE PLUS ONE")
set2 = ("ELEVEN PLUS TWO")
if set1 == set2:
  print("We are the same!")
else:
  print("We are not same!")

We are not same!

In [ ]:
bread = True
minced = True
grocery = True
lettuce = True
onion = True
hamburger = (bread and lettuce or onion and minced and grocery)
if hamburger :
  print("Bon Appetit")

Bon Appetit

In [ ]:
if "0" and "":
  print("Hello world")
print("me")

me

In [ ]:
number = int(input('Please enter a number: '))
num = 0
while num < number:
  print(num ** 2)
  num += 1

Please enter a number: 3
0
1
4

In [ ]:
a = int(input("write a number: "))
if a >= 999:
   print(a ** 0)  
else:
   print(a * 2)

write a number: 998
1996

In [ ]:
sen = "My name is Michele"
reversed_sen = sen.split()
rs_1 = reversed_sen[::-1]
rs_2 = " ".join(rs_1)
print(rs_2)

Michele is name My

In [ ]:
n = str(input("write an integer: "))
nn = int(n+n)
nnn = int(n+n+n)
print(int(n) + nn + nnn)

write an integer: 5
615

In [ ]:
#Write a Python program that accepts an integer (n) and computes the value of n+nn+nnn. 
sn = str(input("write an integer: "))
snn = sn + sn
snnn = snn + sn
print(int(sn) + int(snn) + int(snnn))

write an integer: 5
615

In [ ]:
# Write a Python program to get the least common multiple (LCM) of two positive integers.
x = int(input("Enter the first number: "))
y = int(input("Enter the second number: "))
if x > y:
      z = x
else:
      z = y
while(True):
   if((z % x == 0) and (z % y == 0)):
          lcm = z
          break
   z +=1
print(lcm)

Enter the first number: 4
Enter the second number: 10
20

In [ ]:
num = 1234
reversed_num = 0

while num != 0:
    digit = num % 10
    reversed_num = reversed_num * 10 + digit
    num //= 10

print("Reversed Number: " + str(reversed_num))

Reversed Number: 4321

In [ ]:
num = int(input("write an integer: "))
reversed_num = 0
while num != 0:
  digit = num % 10
  reversed_num = reversed_num * 10 + digit
  num //= 10

print(str(reversed_num))

write an integer: 234
432

In [ ]:
str_x = "Emma is good developer. Emma is a writer"
name = str_x.count("Emma")
print("Emma appeared {} times".format(name))

Emma appeared 2 times

In [ ]:
# Write a Python program to compute the greatest common divisor (GCD) of two positive integers
from math import gcd
num1 = int(input("write a positive integer: "))
num2 = int(input("write a positive integer: "))
print(gcd(num1, num2))

write a positive integer: 64
write a positive integer: 48
16

In [ ]:
numbers = []
n = input("Enter number of integers: ")
i = 0
while i < int(n):
    x = input("Enter an integer: ")
    numbers.append(int(x))
    i += 1
j = 0
for current in numbers:
    if current > j:
        j = current
print(f"The largest number is: {j}")

In [ ]:
math_mark = int(input('Please enter the mark: '))
if math_mark >= 85:
  print("A", "(Excellent)")
elif math_mark >= 70:
  print("B")
elif math_mark >= 60:
  print("C")
elif math_mark >=45:
  print("D")
else:
  print("F")

Please enter the mark: 87
A (Excellent)

In [ ]:
saved_amount = int(input('Please enter your saved amount: '))
ps4_price = 600 
if saved_amount <= ps4_price/2:
  print("You must save more, keep saving!")
elif saved_amount > ps4_price:
  print("Yippee! You can buy your PS4")
elif saved_amount > ps4_price/2:
  print("You saved more than half, keep saving!")

Please enter your saved amount: 301
You saved more than half, keep saving!

In [ ]:
n = int(input('enter a number between 1-10'))

for i in range(1,10,2):
    print('{}x{} = '.format(n, i), n*i)

enter a number between 1-104
4x1 =  4
4x3 =  12
4x5 =  20
4x7 =  28
4x9 =  36

In [ ]:
iterable = [1, 2, 3, 4]
for i in iterable:
  print(i * i)

1
4
9
16

In [ ]:
test = {1, "1", 1.0}
type(test)
1 is 1.0 # is checks more details, value and type
1 == 1.0 # checks only their values

False

In [ ]:
list = [1, None, 0]
any(list)
all(list)

True

In [ ]:
usa_cap = set("Washington")
nz_cap = set("Wellington")
# print(usa_cap)
# print(nz_cap)
# print(len(usa_cap.union(nz_cap)))
# print(type(nz_cap))
a = nz_cap.remove("n")
print(a)
print(nz_cap)

None
{'g', 'e', 't', 'W', 'o', 'l', 'i'}

In [ ]:
given_list = [1, 2, 3, 3, 3, 3, 4, 4, 5, 5]
given_list = set([1, 2, 3, 3, 3, 3, 4, 4, 5, 5])
print(given_list)
given_list.

{1, 2, 3, 4, 5}

In [ ]:
friends = {
       'friend1': {'first': 'Done', 'last': 'Khalif'},
       'friend2': {'first': 'Nancy', 'last': 'Jim'}
      }
friends["friend2"].update({"second": "Pearl"})
print(friends)

{'friend1': {'first': 'Done', 'last': 'Khalif'}, 'friend2': {'first': 'Nancy', 'last': 'Jim', 'second': 'Pearl'}}

In [ ]:
family = {'name1': 'Adam', 
          'name2': 'Yve',
          'name3': 'Hannah'
          }
print("name3" in family)

True

In [ ]:
set_1 = {'red', 'blue', 'pink', 'red'}
colors = 'red', 'blue', 'pink', 'red'
set_2 = set(colors)
type(set_1)
# print(set_1)

set

In [ ]:
set_1 = {1, 4, 5}
print(set_1, type(set_1))

{1, 4, 5} <class 'set'>

In [ ]:
type([1, 2, 1, 0, 1])
len({1, 2, 0, 1, 1})  # burda set oldugu icin 3 tekrar olmaz
 # len([1, 2, 0, 1, 1]) # list

list

In [ ]:
favourite = {
    'friends': {
       'friend1': {'first' : 'Done', 'last' : 'Khalif'},
       'friend2': {'first' : 'Nancy', 'last' : 'Jim'}
      },
    'family' : {
        'name1': 'Adam', 
        'name2': 'Yve',
        'name3': 'Hannah'
      }
}

In [ ]:
school_records={
	'personal_info':
		{'kid':{'tom':{'class':'intermediate', 'age':10},
			'sue':{'class':'elemantary', 'age':8}
			},
		'teen':{'joseph':{'class':'college', 'age':19},
			'marry':{'class':'high school', 'age':16}
			},
		},
	'grades_info':
		{'kid':{'tom':{'math':88, 'speech':69},
			'sue':{'math':90, 'speech':81}
			},
		'teen':{'joseph':{'coding':80, 'math':89},
			'marry':{'coding':70, 'math':96}
			},
		}
}
len(school_records["personal_info"])
# print(school_records["personal_info"]["teen"]["joseph"])
# print(school_records["personal_info"])
# print(school_records["grades_info"]["teen"]["joseph"])
# print(list(school_records["grades_info"]["teen"]["joseph"].items()))

# print(school_records["personal_info"]["teen"]["marry"]["age"])
# marry_age = school_records["personal_info"]["teen"]["marry"]["age"]
# print("Marry is", marry_age, "years old.")
# print("Marry is", marry_age, "years old.")
# print(school_records["grades_info"]["teen"]["joseph"])

2

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)

while count1 >= 0 :
    print(flowers)
    count1 +=1
    break

['Rose', 'Orchid', 'Tulip']

In [ ]:
answer = 44

question = 'What number am I thinking of?  '
print ("Let's play the guessing game!")

while True:
    guess = int(input(question))
    if guess < answer:
        print('Little higher')
    elif guess > answer:
        print('Little lower')
    else:  # guess == answer
        print('Are you a MINDREADER!!!')
        break

Let's play the guessing game!
What number am I thinking of?  50
Little lower
What number am I thinking of?  25
Little higher
What number am I thinking of?  38
Little higher
What number am I thinking of?  44
Are you a MINDREADER!!!

In [ ]:
score = float(input('Please enter your score: '))

if score >= 95:
  print('Your grade is A+')
elif score >= 90 and score < 95:
  print('Your grade is A')
elif score >= 85 and score < 90:
  print('Your grade is B+')
elif score >= 80 and score < 85:
  print('Your grade is B')
else:
  print('Your grade is below B')

In [ ]:
score = int (input("Enter your score :"))
if score >=0 and score <=100:
 if score >= 90:
    if score >= 95:
        Score_letter="A+"
    else:
        Score_letter="A"
 elif score >= 80:
    if score >= 85:
        Score_letter="B+"
    else:
        Score_letter="B"
 else:
    Score_letter="below B"
    print("Your degree: %s" % Score_letter)
else:
  print("please enter valid number.")

Enter your score :102
please enter valid number.

In [ ]:
number = -5
if number >= 10:
    print("The number is equal or greater than 10")
else:
    print("The number is less than 10")

The number is less than 10

In [ ]:
triangle_h = int(input("write the height of triangle: "))
triangle_b = int(input("write the base of triangle: "))
triangle_area = ((triangle_h * triangle_b) / 2)
print(triangle_area)

write the height of triangle: 4
write the base of triangle: 6
12.0

In [ ]:
mail = "mailto: Clarusway admission@clarusway.com, 6 Haz 2021 Paz, 21:08 tarihinde sunu yazdi:"
print(mail[28:41])

clarusway.com

In [ ]:
word = input(“Please enter your word :“).lower()
my_set = set(word)
Left_side = {‘q’, ‘w’, ‘e’, ‘r’, ‘t’, ‘a’, ‘s’, ‘d’, ‘f’, ‘g’, ‘z’, ‘x’, ‘c’, ‘v’, ‘b’}
Right_side = {‘y’, ‘u’, ‘i’, ‘o’, ‘p’, ‘h’, ‘j’, ‘k’, ‘l’, ‘n’, ‘m’}
bool = True
if my_set == my_set.intersection(Left_side) :
    print(not bool)
elif my_set == my_set.intersection(Right_side) :
    print(not bool)
elif my_set:
    print(bool)

In [ ]:
word = input("Write a word: ").lower()
word_1 = set(word)
left_hand = set(['q', 'w', 'e', 'r', 't', 'a', 's', 'd', 'f', 'g', 'z', 'x', 'c', 'v', 'b'])
right_hand = set(['y', 'u', 'i', 'o', 'p', 'h', 'j', 'k', 'l', 'n', 'm'])
if(len(word_1.intersection(left_hand)) > 0 and len(word_1.intersection(right_hand)) > 0):
  print(True)
else:
  print(False)

Write a word: mine
True

In [ ]:
word = input("Write a word: ").lower()
word_1 = set(word)
print(word_1)

Write a word: Mine
{'m', 'e', 'n', 'i'}

In [ ]:
print('abcdefcdghcd'.split('cd'))

['ab', 'ef', 'gh', '']

In [ ]:
print("xyyzxyzxzxyy".count('xyy', 2, 11))

0

In [ ]:
word = input("Write a word: ").lower()
word = set()
word_list1 = set('q', 'w', 'e', 'r', 't', 'a', 's', 'd', 'f', 'g', 'z', 'x', 'c', 'v', 'b')
word_list2 = set('y', 'u', 'i', 'o', 'p', 'h', 'j', 'k', 'l', 'n', 'm')
if word_list1 in word:
   print(False)
elif word_list2 in word:
   print(False)
#else 
  # print(True)

Write a word: Mine

TypeError: ignored

In [ ]:
strs = ["eat", "tea", "tan", "ate", "nat", "bat", "cat", "tac"]
group = {}

for i in strs :
  kelime = "".join(sorted(i))
  if kelime in group :
    group[kelime].append(i)
  else :
    group[kelime] = [i]

print(list(group.values()))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat'], ['cat', 'tac']]

In [ ]:
from collections import defaultdict

source = ["eat", "tea", "tan", "ate", "nat", "bat"]
 
temporary = defaultdict(list)
for element in source:
  temporary[str(sorted(element))].append(element)
result = list(temporary.values())
 
print(*result, sep = ",\n")

['eat', 'tea', 'ate'],
['tan', 'nat'],
['bat']

In [ ]:
source_tuble = ["eat", "tea", "tan", "ate", "nat", "bat"],
words_list = list(source_tuble)
print(type(words_list))
new_list = {}
print(type(new_list))
for ele in words_list:
  print(ele)
  # new_list[str(sorted(ele))].append(ele)
result = list(new_list.values())
print(new_list)

<class 'list'>
<class 'dict'>
['eat', 'tea', 'tan', 'ate', 'nat', 'bat']
{}

In [ ]:
class Solution:
   def groupAnagrams(self, strs):
      result = {}
      for i in strs:
         x = "".join(sorted(i))
         if x in result:
            result[x].append(i)
         else:
            result[x] = [i]
      return list(result.values())
ob1 = Solution()
print(ob1.groupAnagrams(["eat", "tea", "tan", "ate", "nat", "bat"]))

[['eat', 'tea', 'ate'], ['tan', 'nat'], ['bat']]

In [ ]:
for i in {'n1' : 'one', 'n2' : 'two'}: 
print(i)

IndentationError: ignored

In [ ]:
flowers = ['Rose', 'Orchid', 'Tulip']
count1 = len(flowers)
count2 = 0

while count1 >0 :
    print(flowers[count2])
    count1 -= 1
    count2 += 1

Rose
Orchid
Tulip

In [ ]:
numbers = [2, 3, 6, 1, 7, 2, 5, 2, 3]
# print(type(numbers))
mostCommon = max(numbers, key=numbers.count)
# print(mostCommon)
counts2 = numbers.count(mostCommon)
print("the most frequent number is {} and it was {} times repeated".format(mostCommon, counts2))

the most frequent number is 2 and it was 3 times repeated

In [ ]:
numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
mostCommon = max(numbers, key = numbers.count)
counts_time = numbers.count(mostCommon)
print("the most frequent number is {} and it was {} times repeated".format(mostCommon, counts_time))

the most frequent number is 3 and it was 4 times repeated

In [ ]:

numbers = [1, 3, 7, 4, 3, 0, 3, 6, 3]
count = numbers.count(3)
print("the most frequent number is 3", "and it was", count, "times repeated")

the most frequent number is 3 and it was 4 times repeated

In [ ]:
family_members = ['Meghan', 'Tom', 'Nicole', 'Tim']
print(tuple(family_members))

('Meghan', 'Tom', 'Nicole', 'Tim')

In [ ]:
fruits_vegetables = ["fruit", "vegetable", ["apple", "banana", ["mango", "avocado"]], ["spinach", "broccoli"]]
print(fruits_vegetables[3][0], type(fruits_vegetables))

spinach <class 'list'>

In [ ]:
numbers_10 = [10, 30, 40, 50, 60, 70, 80, 90, 100]
numbers_10.insert(1, 20)
print(numbers_10)

[10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
numbers = {}

numbers['x'] = 12
numbers['y'] = 4
numbers.update({'z': 3})

print(numbers['x'] + numbers['y'] + numbers['z']**2)

25

In [ ]:
family.update(name4 = ‘Joseph’)
print(family)

In [ ]:
family = {'name1': 'Adam', 
          'name2': 'Yve',
          'name3': 'Hannah'
          }
family.update(name4 = 'Joseph')
family.update({"name5":"Yasmin"})
# print(family)
# del family["name2"], family["name3"]
# print(family)
list(family.items())
list(family.values())
dict(family)

{'name1': 'Adam',
 'name2': 'Yve',
 'name3': 'Hannah',
 'name4': 'Joseph',
 'name5': 'Yasmin'}

In [ ]:
mix_values = {'animal': ('dog', 'cat'),  
              'planet': ['Neptun', 'Saturn', 'Jupiter'], 
              'number': 40,  
              'pi': 3.14,  
              'is_good': True}  

mix_keys = {22 : "integer",
            1.2 : "float",
            True : "boolean",
            "key" : "string"}
print(mix_keys[1.2])
"number" not in mix_values
40 in mix_values.values()

float

True

In [ ]:
"h" in 'float'

False

In [ ]:
state_capitals = {'Arkansas': 'Little Rock',
                  'Colorado': 'Denver',
                  'California': 'Sacramento',
                  'Georgia': 'Atlanta' 
                 }
state_capitals['Georgia'] = 'chicago'
print(state_capitals)

{'Arkansas': 'Little Rock', 'Colorado': 'Denver', 'California': 'Sacramento', 'Georgia': 'chicago'}

In [ ]:
grocery1 = {'fruit':'apple', 'drink':'water'}
grocery2 = dict(fruit='apple', drink='water')
print(grocery1)
print(grocery2)

{'fruit': 'apple', 'drink': 'water'}
{'fruit': 'apple', 'drink': 'water'}

In [ ]:
set([1,2,2,3,4,5])
{1,2,3,4}
set((1,2,3,4))

In [ ]:
a = {1,2,3,4}
print(type(a))

<class 'set'>

In [ ]:
student_ages = {"Harry": 29,
                "Clark": 32,
                "Peter": 22,
                "Bruce": 36
                }
print(student_ages["Clark"])

32

In [ ]:
escapes = ["\n\t", ("\t", "\t\t"), ["\n", "\n\t\t"]]

sentence = "I am 40 years old. {} I have two children. {} Data Science is my IT domain."

print(sentence.format(escapes[0], escapes[2][1]))

I am 40 years old.
	 I have two children.
		 Data Science is my IT domain.

In [ ]:
sehirler = ["ankara", "agri", "istanbul", "van"]
sehirler.sort(key=len)
print(sehirler)

['van', 'agri', 'ankara', 'istanbul']

In [ ]:
print(len(set('listen to the voice of enlisted')))

13

In [ ]:
flowers = [["jasmine", ["lavender", "rose"], "tulip"]]
colors = ["red", ("blue", ["yellow", "green"]), "pink"]
# text = "My two favorite flowers {} and {}, two favorite colors are {} and {}.".fromat((flowers[2][1][1]), colors([1][0][1][1][1]))
text = "My two favorite flowers {} and {}, two favorite colors are {} and {}."
print(text.format(flowers[0][2], flowers[0][1][1], colors[1][0], colors[1][1][1]))

My two favorite flowers tulip and rose, two favorite colors are blue and green.

In [ ]:
grocer = ["banana", ["orange", ["apple", "eggplant", "melon", "spinach", "cheese", "leek" ], "water"], "mandarin"]
print(grocer[1][1][1:6:2])

['eggplant', 'spinach', 'leek']

In [ ]:
my_list = list(range(1,11))
my_list.sort(reverse=True)
print(my_list)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [ ]:
mix_tuple = ("11", 11, [2, "two", ("six", 6)], (5, 'fair'))
print(mix_tuple[3][1])
print(mix_tuple[-1][-1])

fair
fair

In [ ]:
myData = 1
print(type(myData))

<class 'int'>

In [ ]:
my_tuple = ("Solar")
print(my_tuple, type(my_tuple), sep="\n")

Solar
<class 'str'>

In [ ]:
planets = "mars", "jupiter", "earth"
print(planets)
print(type(planets))

('mars', 'jupiter', 'earth')
<class 'tuple'>

In [ ]:
num = [[1, 2, 3, [4, 5, [6, 7, 8]]]]]

In [ ]:
[['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'],
 ['red', 'purple', 'blue', 'yellow', 'green'],

In [ ]:
print([[12, 34, 56]][0])

[12, 34, 56]

In [ ]:
print(len([[12, 34, 56]]))

1

In [ ]:
print(len([[12, 34, 56]][0]))

3

In [ ]:
city_list = [['New York', 'London', 'Istanbul', 'Seoul', 'Sydney'], [2, 5]]
print(city_list[1][0])

2

In [ ]:
warning = 'You must quit smoking!'

print(len(list(warning)))

22

In [ ]:
word1 = "asdfilzxkjhg"
word2 = "ijklgfhtcdsa"
if [0:]
  print("This is an anagram.")
else
  print("This is not an anagram.")

SyntaxError: ignored

In [ ]:
example = "snow_world"
print(example[4:7])

_wo

In [ ]:
print(format("Welcome" + " 10s"), end = '#') 
print(format(111, "4d"), end = '#') 
print(format(924.656, "3.2f"))

Welcome 10s# 111#924.66

In [ ]:
print("xyyzxyzxzxyy".count('yy', 2))

1

In [ ]:
print("xyyzxyzxzxyy".endswith("xyy", 0, 3))

True

In [ ]:
print(chr(ord('b') + 1))

c

In [ ]:
nums = []
nums.append(1)
nums.append(2)
nums.append(3)
nums.insert(2, 5)
print(nums)
nums.sort()
print(sort)

[1, 2, 5, 3]

NameError: ignored

In [ ]:
mty = []
mty.append('3*5')
print(mty)

['3*5']

In [ ]:
[0, 'a', (1+2)], [2]

([0, 'a', 3], [2])

In [ ]:
city = "SARAJEVO"
text = f"{city.title()}"
print("I live in", text)

I live in Sarajevo

In [ ]:
country = [5, 'a', 'p', 'p', 'y']
print(country)

[5, 'a', 'p', 'p', 'y']

In [ ]:
string_1 = 'I quit smoking'
new_list_1 = list(string_1)
print(new_list_1)

new_list_2 = [string_1]
print(new_list_2)

['I', ' ', 'q', 'u', 'i', 't', ' ', 's', 'm', 'o', 'k', 'i', 'n', 'g']
['I quit smoking']

In [ ]:
print(False or {0} and [])

[]

In [ ]:
print(int("5" + "1"))
print(str("5" + "1"))
print("5" + "1")

51
51
51

In [ ]:
section_3_5 = "python data types and useful operations"
print(section_3_5.title())

Python Data Types And Useful Operations

In [ ]:
age = input("Are you a cigarette addict older than 75 years old?(Please answer as a Yes or No): ")
chronic = input("Do you have a severe chronic disease?(Please answer as a Yes or No): ")
immune = input("Is your immune system too weak?(Please answer as a Yes or No): ")
if age == "Yes" or chronic == "Yes" or immune == "Yes":
  print(bool("There is a risk of death"))
else:
  print(bool())

Are you a cigarette addict older than 75 years old?(Please answer as a Yes or No): No
Do you have a severe chronic disease?(Please answer as a Yes or No): No
Is your immune system too weak?(Please answer as a Yes or No): No
False

In [ ]:
print('www', 'clarusway', "com", sep='.', end=' ')
print('will', end=' ')

www.clarusway.com will

In [ ]:
print('www', 'clarusway', "com", sep='.')
print('will', end=' ')
print('open', end=' ')
print('your', end=' ')
print('path', end='.')

www.clarusway.com
will open your path.

In [ ]:
print('clarusway' + str(2020))

clarusway2020

In [ ]:
print("32" + int(1988))

TypeError: ignored

In [ ]:
age = input("Are you a cigarette addict older than 75 years old?(Y/N): ")
chronic = input("Do you have a severe chronic disease?(Y/N): ")
immune = input("Is your immune system too weak?(Y/N): ")
result = False

if not((age == "Y" or age == "N") and (chronic == "Y" or chronic == "N") and (immune == "Y" or immune == "N")):
  print("user did not enter proper values.")
elif ():
  result = True

Are you a cigarette addict older than 75 years old?(Y/N): N
Do you have a severe chronic disease?(Y/N): N
Is your immune system too weak?(Y/N): W
user did not enter proper values.

In [ ]:
text = 'In God wee trust'
text2 = 'we'
f'In God {text2} trust'

'In God we trust'

# New Section

In [ ]:
var_str = 'In God we Trust'
print(var_str.lower())
print(var_str)

in god we trust
In God we Trust

In [ ]:
phrase = "myemailaddress@clarusway.com"

print(len(phrase))

28

In [ ]:
print("{6} {0} {5} {3} {4} {1} {2}".format('have', 6, 'months', 'a job', 'in', 'found', 'I will'))

I will have found a job in 6 months

In [ ]:
temp_Celcius = float(input("Enter the temperature at Celsius degree: "))
temp_Fahrenheit = 1.8 * temp_Celcius + 32
print("Temperature is", temp_Fahrenheit, "\bF", "degree.")

Enter the temperature at Celsius degree: 10
Temperature is 50.0 F degree.

In [ ]:
str_one = 'upper'
print(* str_one)

u p p e r

In [ ]:
distance1 = float(input("Enter the distance in kilometers: "))
distance2 = distance1 / 1.609344
print(distance2, "mile")

Enter the distance in kilometers: 2
1.242742384474668 mile